.sidebar-handle {
  position: absolute;
  right: 0;
  top: 0;
  width: 10px;
  height: 100%;
  background-color: transparent;
  cursor: ew-resize;
  z-index: 1;
}

#folders-list * {
  box-sizing: border-box;
}

ul {
  padding: 0;
}

.folders {
  padding: 20px;
  padding-right: 0;
  background-color: #f9fbff;
}

.folders__item {
  list-style-type: none;
}

.new-folder-app {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  font-size: 15px;
  font-weight: 600;
  background-color: #dbeafe;
  border: none;
  border-radius: 10px;
  color: #4d6dfe;
  padding: 10px;
  transition: background-color 0.1s ease-in;
}

.new-folder-app:hover {
  background-color: #c6dcf8;
  cursor: pointer;
}

.new-folder-app .context-menu-icon {
  width: 17px;
  height: 17px;
  fill: #4d6dfe;
}

.chat-item,
.folder-name {
  position: relative;
  display: flex;
  width: 100%;
  height: 32px;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  margin: 5px 0;
  padding-right: 5px;
  border-radius: 10px;
}

.chat-item:hover,
.folder-name:hover {
  background-color: rgb(239 246 255);
  cursor: pointer;
}

.chat-item {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding-left: 10px;
  color: #262626;
}

.chat-active,
.chat-active:hover {
  background-color: #dbeafe;
}

.chat-name__input,
.folder-name__input {
  width: 100%;
  height: 32px;
  font-size: 14px;
  margin: 5px;
  padding: 0 10px;
  border: none;
  border-radius: 10px;
  outline: none;
}

.chat-name__input:focus,
.folder-name__input:focus {
  border: 2px solid #4d6bfe;
}

.folder-name__text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon-arrow {
  flex-grow: 0;
  flex-shrink: 0;
  transition: transform 0.2s;
}

.icon-arrow path {
  stroke: #800080;
}

.folders__list {
  margin-left: 20px;
  border-left: 1px solid rgba(128, 0, 128, 0.1);
  user-select: none;
  transition: display 0.2s ease-in;
}

.first-nested-list > .folders__list {
  margin-left: 0;
  border-left: none;
}

.first-nested-list > * > * > .folder-name {
  margin-left: 0;
  margin-right: 0;
}

.first-nested-list {
  margin-left: -20px;
}

.chat {
  display: block;
  width: 100%;
  padding: 2px 5px;
  margin: 0;
  border-radius: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color 0.1s ease-in;
}

.chat:hover {
  background-color: #ddd;
  cursor: pointer;
}

.icon-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  padding: 1px 2px;
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: auto;
  border-radius: 5px;
}

.icon-dots:hover,
.context-menu,
.context-menu button {
  background-color: #fff;
}

.icon-dots path {
  stroke: #262626;
}

.context-menu {
  position: fixed;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 2000;
}

.context-menu__btn {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  gap: 10px;
  font-size: 14px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #262626;
  transition: background-color 0.1s ease-in;
  opacity: 0.9;
}

.context-menu__btn:hover {
  background-color: #eee;
  cursor: pointer;
}

.context-menu-icon {
  width: 16px;
  height: 16px;
  fill: #262626;
}

.context-menu-icon.icon-chat {
  fill: none;
  stroke-width: 2;
  stroke: #262626;
}

.btn-name.delete {
  color: #f44336;
}

.context-menu__btn .icon-delete {
  fill: #f44336;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #eee;
  margin: 5px 0;
}

/* Стили для анимации fade */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transform: translateY(-10px);
}

/* Стили для анимации fade */
.fade-list-enter-active,
.fade-list-leave-active {
  transition: opacity 0.1s ease, transform 0.1s ease;
}

.fade-list-enter-from,
.fade-list-leave-to {
  opacity: 0;
  transform: translateY(-10px);
}
/* 
.noti {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 5px;
  border-radius: 5px;
  background-color: #f44336;
  color: #fff;
  transition: background-color 0.2s ease-in;
} */

.search-chats-wrap {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 100;
}

.search-chats {
  width: 600px;
  max-width: 600px;
  max-height: fit-content;
  margin-top: 100px;
  background-color: #f9fbff;
  border-radius: 10px;
}

.search-chats__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  border-bottom: 1px solid #dbeafe;
}

.search-chats__input {
  flex: 1 1 80%;
}

.search-chats__header input {
  width: 100%;
  font-size: 15px;
  padding: 10px 5px;
  border: 0;
  background-color: transparent;
}

.search-chats__header input:focus {
  outline: none;
}

.search-chats__list {
  max-height: 500px;
  overflow-y: scroll;
}

.search-chats__list li {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.search-chats__list li:hover {
  background-color: #dbeafe;
}

.search-chats__list li input[type="checkbox"] {
  align-self: stretch;
  margin: 0 10px;
}

.chat-name,
.chat-folder-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-chats__list label {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  gap: 20px;
  padding: 5px;
  padding-left: 0;
}

.chat-name {
  width: 350px;
}

.chat-folder-name {
  width: 100px;
  font-size: 14px;
  font-weight: 500;
  margin: 0 5px;
  color: #03a9f4;
  text-align: right;
}

.search-chats__btn {
  font-size: 16px;
  font-weight: 600;
  background-color: #dbeafe;
  border: none;
  border-radius: 10px;
  color: #4d6dfe;
  padding: 10px 20px;
  transition: background-color 0.1s ease-in;
}

.search-chats__btn:hover {
  background-color: #c6dcf8;
  cursor: pointer;
}

.search-chats__icon {
  width: 16px;
  height: 16px;
  fill: none;
  stroke: #4d6dfe;
  stroke-width: 1.5;
}

.exit-icon {
  width: 30px;
  fill: none;
  stroke: #4d6dfe;
  cursor: pointer;
}

.icon-return-wrap {
  display: flex;
  align-self: stretch;
  padding: 0 8px;
}

.icon-return-wrap:hover {
  background-color: #b3e5fc;
  cursor: pointer;
}

.icon-return {
  width: 15px;
  fill: #03a9f4;
}

.sidebar-resizing {
  position: relative;
  width: 100%;
  text-align: right;
}

.sidebar-resizing__icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 2.5px;
  border-radius: 5px;
  transition: background-color 0.1s ease-in;
}

.sidebar-resizing__icon:hover {
  background-color: #b3e5fc;
  cursor: pointer;
}

.sidebar-resizing__icon-wrap {
  display: inline-block;
}

.icon-width {
  width: 20px;
  fill: #800080;
}

.sidebar-resizing__menu {
  position: fixed;
  width: auto;
  height: auto;
  display: flex;
  gap: 3px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px #0000001a;
  padding: 4px;
  z-index: 1000;
}

.sidebar-resizing__menu button {
  font-size: 14px;
  border: 0;
  border-radius: 5px;
  background-color: #dbeafe;
  padding: 5px;
  color: #800080;
  transition: background-color 0.1s ease-in;
  white-space: nowrap;
}

.sidebar-resizing__menu button:hover:not(.active-scale) {
  border: 0;
  background-color: #c6dcf8;
  border-radius: 5px;
  cursor: pointer;
}

.sidebar-resizing__menu .active-scale {
  background-color: #4d6dfe;
  color: #dbeafe;
}

.notification {
  position: fixed;
  font-size: 14px;
  padding: 5px 10px;
  background-color: #262626;
  border-radius: 10px;
  color: #fff;
  white-space: nowrap;
  z-index: 1001;
}

.notification::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 15px;
  height: 15px;
  border-radius: 3px;
  background-color: #262626;
  transform: translateX(-50%) rotate(45deg);
  margin-top: -10px;
}

.folders.light {
  background-color: #f9fbff;
}

.folders.dark {
  background-color: #212327;
}

.folders.dark .new-folder-app {
  background-color: #4d6bfe;
  color: #f8fafc;
}

.folders.dark .new-folder-app {
  background-color: #4d6bfe;
  color: #f8fafc;
}

.folders.dark .new-folder-app:hover {
  background-color: #4166d5;
}

.folders.dark .context-menu-icon {
  fill: #f8fafc;
}

.folders.dark .chat-item {
  color: rgb(228 228 231);
}

.folders.dark .chat-item,
.folders.dark .folder-name {
  background-color: #212327;
}

.folders.dark .chat-item:hover:not(.chat-active),
.folders.dark .folder-name:hover {
  background-color: rgb(51 51 51);
}

.folders.dark .icon-arrow path,
.folders.dark .icon-dots path {
  stroke: rgb(228 228 231);
}

.folders.dark .icon-dots:hover {
  background-color: #212327;
}

.folders.dark .chat-active {
  background-color: #494949;
}

.folders.dark .icon-width {
  fill: #e4e4e7;
}

.folders.dark .sidebar-resizing__icon:hover,
.folders.dark .sidebar-resizing__menu,
.folders.dark .context-menu,
.folders.dark .context-menu button {
  background-color: #3a3a46;
}

.folders.dark .context-menu button {
  color: #f8fafc;
}

.folders.dark .sidebar-resizing__menu button,
.folders.dark .context-menu button:hover {
  background-color: #464451;
  color: #f8fafc;
}

.folders.dark .context-menu__btn .icon-delete {
  fill: #f44336;
}

.folders.dark .sidebar-resizing__menu button:hover:not(.active-scale) {
  background-color: #555562;
}

.folders.dark .sidebar-resizing__menu .active-scale {
  background-color: #4d6bfe;
}

.folders.dark .search-chats__list li:hover,
.folders.dark .cm-folder .line {
  background-color: #464451;
}

.folders.dark .search-chats {
  background-color: #3a3a46;
}

.folders.dark .search-chats__header {
  border-bottom: 1px solid #464451;
}

.folders.dark .icon-return-wrap:hover {
  background-color: #4d6bfe;
}

.folders.dark .icon-return-wrap:hover > .icon-return {
  fill: #f8fafc;
}

.folders.dark .chat-name__input:focus,
.folders.dark .folder-name__input:focus {
  background-color: #212327;
}

.folders.dark .notification,
.folders.dark .notification::after {
  background-color: #000;
}
